<html>
    <head>
        <title>Load Balance</title>
    </head>
    <body>
        <form action="/api/home/click" method="POST">
            <input value="123"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>